<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.car_wash.mapper.EquipmentTableMapper" >
  <resultMap id="BaseResultMap" type="com.car_wash.pojo.EquipmentTable" >
    <id column="equipment_number" property="equipmentNumber" jdbcType="VARCHAR" />
    <result column="equipment_site" property="equipmentSite" jdbcType="VARCHAR" />
    <result column="equipment_parameter" property="equipmentParameter" jdbcType="VARCHAR" />
    <result column="equipment_price" property="equipmentPrice" jdbcType="DECIMAL" />
    <result column="equipment_describe" property="equipmentDescribe" jdbcType="VARCHAR" />
    <result column="equipment_type" property="equipmentType" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    equipment_number, equipment_site, equipment_parameter, equipment_price, equipment_describe, 
    equipment_type
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.car_wash.pojo.EquipmentTableExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from equipment_table
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from equipment_table
    where equipment_number = #{equipmentNumber,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from equipment_table
    where equipment_number = #{equipmentNumber,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.car_wash.pojo.EquipmentTableExample" >
    delete from equipment_table
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.car_wash.pojo.EquipmentTable" >
    insert into equipment_table (equipment_number, equipment_site, equipment_parameter, 
      equipment_price, equipment_describe, equipment_type
      )
    values (#{equipmentNumber,jdbcType=VARCHAR}, #{equipmentSite,jdbcType=VARCHAR}, #{equipmentParameter,jdbcType=VARCHAR}, 
      #{equipmentPrice,jdbcType=DECIMAL}, #{equipmentDescribe,jdbcType=VARCHAR}, #{equipmentType,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.car_wash.pojo.EquipmentTable" >
    insert into equipment_table
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="equipmentNumber != null" >
        equipment_number,
      </if>
      <if test="equipmentSite != null" >
        equipment_site,
      </if>
      <if test="equipmentParameter != null" >
        equipment_parameter,
      </if>
      <if test="equipmentPrice != null" >
        equipment_price,
      </if>
      <if test="equipmentDescribe != null" >
        equipment_describe,
      </if>
      <if test="equipmentType != null" >
        equipment_type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="equipmentNumber != null" >
        #{equipmentNumber,jdbcType=VARCHAR},
      </if>
      <if test="equipmentSite != null" >
        #{equipmentSite,jdbcType=VARCHAR},
      </if>
      <if test="equipmentParameter != null" >
        #{equipmentParameter,jdbcType=VARCHAR},
      </if>
      <if test="equipmentPrice != null" >
        #{equipmentPrice,jdbcType=DECIMAL},
      </if>
      <if test="equipmentDescribe != null" >
        #{equipmentDescribe,jdbcType=VARCHAR},
      </if>
      <if test="equipmentType != null" >
        #{equipmentType,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.car_wash.pojo.EquipmentTableExample" resultType="java.lang.Integer" >
    select count(*) from equipment_table
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update equipment_table
    <set >
      <if test="record.equipmentNumber != null" >
        equipment_number = #{record.equipmentNumber,jdbcType=VARCHAR},
      </if>
      <if test="record.equipmentSite != null" >
        equipment_site = #{record.equipmentSite,jdbcType=VARCHAR},
      </if>
      <if test="record.equipmentParameter != null" >
        equipment_parameter = #{record.equipmentParameter,jdbcType=VARCHAR},
      </if>
      <if test="record.equipmentPrice != null" >
        equipment_price = #{record.equipmentPrice,jdbcType=DECIMAL},
      </if>
      <if test="record.equipmentDescribe != null" >
        equipment_describe = #{record.equipmentDescribe,jdbcType=VARCHAR},
      </if>
      <if test="record.equipmentType != null" >
        equipment_type = #{record.equipmentType,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update equipment_table
    set equipment_number = #{record.equipmentNumber,jdbcType=VARCHAR},
      equipment_site = #{record.equipmentSite,jdbcType=VARCHAR},
      equipment_parameter = #{record.equipmentParameter,jdbcType=VARCHAR},
      equipment_price = #{record.equipmentPrice,jdbcType=DECIMAL},
      equipment_describe = #{record.equipmentDescribe,jdbcType=VARCHAR},
      equipment_type = #{record.equipmentType,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.car_wash.pojo.EquipmentTable" >
    update equipment_table
    <set >
      <if test="equipmentSite != null" >
        equipment_site = #{equipmentSite,jdbcType=VARCHAR},
      </if>
      <if test="equipmentParameter != null" >
        equipment_parameter = #{equipmentParameter,jdbcType=VARCHAR},
      </if>
      <if test="equipmentPrice != null" >
        equipment_price = #{equipmentPrice,jdbcType=DECIMAL},
      </if>
      <if test="equipmentDescribe != null" >
        equipment_describe = #{equipmentDescribe,jdbcType=VARCHAR},
      </if>
      <if test="equipmentType != null" >
        equipment_type = #{equipmentType,jdbcType=VARCHAR},
      </if>
    </set>
    where equipment_number = #{equipmentNumber,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.car_wash.pojo.EquipmentTable" >
    update equipment_table
    set equipment_site = #{equipmentSite,jdbcType=VARCHAR},
      equipment_parameter = #{equipmentParameter,jdbcType=VARCHAR},
      equipment_price = #{equipmentPrice,jdbcType=DECIMAL},
      equipment_describe = #{equipmentDescribe,jdbcType=VARCHAR},
      equipment_type = #{equipmentType,jdbcType=VARCHAR}
    where equipment_number = #{equipmentNumber,jdbcType=VARCHAR}
  </update>
</mapper>